*{
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
nav img {
    border-radius: 50%;
}
 nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
     width: 100%;
     background-color: e0ebe8;
     position : fixed;
 }
 nav ul {
     text-align: right;
     margin: 0;
 }
 nav ul li {
     display: inline-block;
     margin: 0;
 }
 nav ul li a {
    text-align: right;
    padding: 1rem 1.2rem;
    padding: 27px;
    color:black;
    font-size:17px;
}
 nav ul li a:hover{
      color:rgb(193, 226, 126);
     }
     .intro p {
         font-weight: bold;
     }
     @viewport {
         width : device-width;
         zoom: 1;
     }
 .cente {
    min-height: 55vh;
    padding-top: 45vh;
    text-align: center;
    margin: 0 auto;
    color:black; 
    background-color: e0ebe8;  
}
.cente p {
    color:green;
}
.cente h1 {
    font-weight: inherit;
    margin: 0;
    padding: 0;
}
.foot {
   display: flex;
   justify-content: center;
   align-items: center;
   margin:0 20px;
   text-decoration: none;
}
.foote {
    background-color: 22313f;
    padding: 20px;
    color: white;
    text-align: center;
}
.person {
    text-align: center;
}
.person h1 {
    font-weight: inherit;
}
.root {
   border: 1px solid #90c695!important; 
   width:100px; 
   height:100px;
   border-radius: 50%; 
   background: lavender;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 20px;
}
.root a {
    color:green;
}
.work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    background-color: white;
}
 .work h1 {
       font-weight: inherit;
 }
 .educate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    background-color: white;
}
 .educate h1 {
       font-weight: inherit;
 }
.person {
    font-weight: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work img {
    width: 100px; 
    border-radius: 50%;
}
.educate img {
    width: 100px; 
    border-radius: 50%;
}
.intro {
    display:flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    padding-top: 80px;
}
.intro h1 {
     font-weight: inherit;
}
.project {
    background-color: e0ebe8;
    text-align: center;
    padding-top:75px;
    padding-bottom: 31px;
}
.project img {
    margin:15px 0;
}
.project h2 {
    margin-bottom: 3%;
}
.project a {
    color: #009090;
}
.image {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 29%;
}